main{
    display: flex;
    height: 100vh;
    width: auto;
    align-items: center;
    justify-content: center;
    background-color: rgb(46, 149, 134);
    flex-direction: column;
}
.container-my{
    height:  auto;
    background-color: rgb(12, 245, 66);
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.row{
    justify-content: center;
}
.hidden{
    display: none;
}